.navbar {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 20px;
}

.quicks {
    display: flex;
    align-items: center;
    stroke: var(--base);
    fill: var(--base);
}