<head>
    <link rel="stylesheet" href="/styles/components/navbar.css">
</head>

<nav class="navbar-container">
    <div class="navbar">
        <a href="/" class="navbar-logo" aria-label="Return home!">
            <img src="{{ logo }}" alt="Femboys Australia logo" inline id="logo"/>
        </a>
    </div>
</nav>