@import "reset.scss";

/* Variables */
:root {
    --background: #ed82c6;
    --foreground: #dca7d8;
    --accent: #99b9ff;
    --base: #f7f9f2;
    --secondary: #0f3143;
    --text: #525252;
    overflow: hidden; // TODO: remove when scrollable page content
}

@font-face {
    font-family: "Bitween10";
    src: url("../font/BITWA.TTF") format("truetype");
}
