<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/styles/critical.css" inline>

        <!-- page stylesheets -->
        {{ if it.page_stylesheet }}
            <link rel="stylesheet" href="/styles/pages/{{ page_stylesheet }}.css">
        {{ /if }}
    </head>
    
    <body>
        {{ content }}
    </body>
</html>