---
layout: ./base.vto
page_stylesheet: home
---
{{ include "templates/navbar.vto" }}

<div class="starry-hero">
</div>

<div class="curve-body">
    <div class="curve-cap">
        <img src="{{ curve }}" inline/>
        <img src="{{ curve }}" class="curve-duplicate" inline/>
    </div>

    <div class="curve-inner">
    </div>
</div>