---
layout: ./base.vto
page_stylesheet: home
---
{{ include "templates/navbar.vto" }}

<div class="starry-hero">
</div>

<div class="earth-body">
    <div class="earth-cap">
    </div>

    <div class="earthy-inner">
    </div>
</div>